<ion-header>
  <ion-toolbar>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--This page will be editable for the user to add info on the item and submit for subtotal calculations-->
  <section>
    <ion-item>
      <ion-label position='floating'>Item type:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position='floating'>Description:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position='floating'>Item Year:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position='floating'>Estimated value:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </section>
  

  <section>
    <ion-button expand="block">Submit</ion-button>
  </section>
</ion-content>
