<ion-header>
  <ion-toolbar>
    <ion-title>Quote List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-button expand='block' color='primary'>Item Name</ion-button>
  <ion-button expand='block' color='primary'>Item Name</ion-button>
  <ion-button expand='block' color='primary'>Item Name</ion-button>
  

  <ion-fab vertical="middle" horizontal="middle" >
    <ion-fab-button color='primary'>
      <ion-icon name='add'></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical='20%'  horizontal='end' >
    <ion-fab-button  color='success'>
      <ion-icon name='checkmark-outline'></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>