<ion-header>
  <ion-toolbar>
    <ion-title>Quote List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class='verticle-align'>
  <ion-item>
     <IonLabel>
        Product 01: Laptop
      </IonLabel>
  <!--  <section style="text-align: end;">
        <button >
          <ion-icon name='add'></ion-icon>
         </button>
         <button>
          <ion-icon name='edit'></ion-icon>
         </button>
         <button >
            <ion-icon name='trash'></ion-icon>
          </button>
      </section> -->   
</ion-item>
  </ion-card>
</ion-content>
