<ion-header>
  <ion-toolbar>
    <ion-title>View Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!---This page will be static(a Read only version of the add item page)-->
  <section>
    <ion-item>
      <ion-label position='floating'>Item type:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position='floating'>Description:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position='floating'>Date of Purchase:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position='floating'>Estimated value:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </section>
</ion-content>
